.buttonSubmitFuncionalidade {
    padding-left: 25%;
}

#dadosProduto {
    display: block;
    width: 22vw;
    max-height: 63vh;
    color: var(--color02);
    background-color: var(--color01);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 8px var(--color01);
}

#dadosProduto h2 {
    padding-left: 1%;
    padding-bottom: 1.5vh;
}

.formProduto {
    padding-left: 1%;
}

.fieldProduto {
    margin-bottom: 3.5%;
    font-size: 1.2em;
}

.labelEditProduto {
    display: flex;
    margin-right: 2vw;
    width: 15%;
}

.fieldProduto label {
    color: var(--color02);
    margin-right: 1vw;
    width: 20vw;
}

.fieldProduto input {
    background-color: var(--color03);
    border-radius: 5px;
    padding-left: 2%;
    font-size: 1rem;
    width: 20vw;
}

.fieldProduto input:hover {
    background-color: var(--color04);
    border-radius: 5px;
    cursor: pointer;
}

#confirmButtonColab {
    display: flex;
    align-items: flex-end;
    position: absolute;
    margin-top: 2vh;
    height: 10vh;
    font-size: 2rem;
}

#confirmButtonColab button {
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 1px 1px 8px var(--color01);
}

.buttonGreenAction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 10vw;
    margin-left: 51vw;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    transition: 0.1s ease;
}

.buttonGreenAction:hover {
    opacity: 1;
    transform: translate(1px, 1px);
    color: var(--color01);
    border-color: var(--color01);
    background-color: var(--color04);
}

.buttonReturnAction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 10vw;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    transition: 0.1s ease;
}

.buttonReturnAction:hover {
    opacity: 1;
    transform: translate(1px, 1px);
    color: rgb(40, 137, 255);
    border-color: rgb(40, 137, 255);
}

.gocheck {
    font-size: 2em;
    margin-right: 2%;
}
