#headerCardCliente {
    display: flex;
    width: 65vw;
    margin-top: 2vh;
}

.headerCardClienteNome {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
    width: 33%;
}

.headerCardClienteStatus {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
    width: 20%;
}

.headerCardCliente {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
    width: 25%;
}

.container input {
    border: 2px solid;
    border-color: var(--color01);
    box-shadow: 1px 1px 4px var(--color01);
}

#search {
    width: 20vw;
    height: 1.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-top: 0.3rem;
}

#mainCardCliente {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1vh;
    color: var(--color02);
    background-color: var(--color01);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 8px var(--color01);
}

#mainCardCliente h2 {
    padding-left: 1%;
    font-size: 1em;
    color: var(--color05);
    font-weight: 400;
}

#CardCliente{
    width: 100vw;
}

.CardClienteTexto {
    display: flex;
    width: 100%;
    border-bottom: 1.8px solid;
    border-color: var(--color06);
    padding-top: 10px;
}

.mainCardCliente {
    width: 15.5vw;
}

.mainCardClienteNome {
    width: 22vw;
}

.mainCardClienteStatus {
    width: 14vw;
}

/* Estilização do card de detalhes */
#mainCardClienteDetalhes {
    display: block;
    width: 100%;
    margin-top: 1vh;
    background-color: var(--color01);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 8px var(--color01);
}

#mainCardClienteDetalhes input {
    padding-left: 10%;
    font-size: 1em;
    color: var(--color05);
    font-weight: 400;
    padding-top: 3.5px;
    margin-bottom: 2vh;
}

#CardClienteDetalhes{
    display: flex;
    justify-content: column;
    width: 100%;
}

#CardClienteDetalhes ::placeholder {
    color: var(--color05);
}

.CardClienteDetalhes {
    margin-left: 2%;
    display: block;
    width: 30%;
    padding-top: 10px;
}

.mainCardClienteDetalhes {
    display: block;
    width: 100%;
    margin-bottom: 2vh;
    background-color: var(--color01);
    border-style: none;
    border-bottom: 1.8px solid;
    border-color: var(--color06);
}

.CardClienteDetalhesLabel {
    margin-left: 2%;
    display: block;
    width: 12%;
    padding-top: 10px;
}

.CardClienteDetalhesLabel h2 {
    padding-left: 1%;
    font-size: 1em;
    color: var(--color05);
    font-weight: 400;
    padding-left: 20%;
}

.buttonAtualizar {
    display: flex;
    justify-content: space-around;
    margin-left: 1.5vw;
    width: 90%;
    height: 4vh;
    margin-bottom: 1vh;
}

.buttonAtualizar button {
    border-radius: 5px;
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 1px 1px 8px var(--color01);
}

.buttonRedActionDeletar {
    margin-left: 5vh;
}

.buttonCardCliente {
    display: flex;
    justify-content: space-around;
    margin-left: 1.5vw;
    margin-top: 1.5vh;
    width: 90%;
    height: 6vh;
    margin-bottom: 1vh;
}

.buttonCardCliente button {
    border-radius: 5px;
    width: 10vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 1px 1px 8px var(--color01);
}

#actionView {
    display: flex;
    height: 3vh;
    font-size: 1.5rem;
}

#actionView button {
    width: 4vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 1px 1px 8px var(--color01);
}

.buttonOrangeActionAtualizar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    transition: 0.1s ease;
}

.buttonOrangeActionAtualizar:hover {
    transform: translate(1px, 1px);
    color: rgb(255, 156, 7);
    border-color: rgb(255, 156, 7);
}

.buttonBlueActionView {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    opacity: 0.8;
    transition: 0.1s ease;

}

.buttonBlueActionView:hover {
    transform: translate(1px, 1px);
    color: rgb(40, 137, 255);
    border-color: rgb(40, 137, 255);
}

.buttonRedActionDeletar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    transition: 0.1s ease;
}

.buttonRedActionDeletar:hover {
    transform: translate(1px, 1px);
    color: red;
    border-color: red;
}


