:root {
    --color01: #262626;
    --color02: #FCC755;
    --color03: #F5F5F5;
    --color04: rgb(122, 253, 122);
    --color05: #dadabd;
    --color06: #595858;
    --color07: #f3f3e7;
    --color08: #303031;
}

