#headerCardCentro {
    display: flex;
    width: 65vw;
    margin-top: 2vh;
}

.headerCardCentroTitle {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
    width: 90%;
}

.headerCardCentroNome {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
    width: 83%;
}

.headerCardCentroStatus {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
}

.headerCardCentro {
    color: var(--color01);
    font-size: 1.5em;
    font-weight: 500;
    width: 25%;
}

#mainCardCentro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1vh;
    color: var(--color02);
    background-color: var(--color01);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 8px var(--color01);
}

.container input {
    border: 2px solid;
    border-color: var(--color01);
    box-shadow: 1px 1px 4px var(--color01);
}

#search {
    width: 20vw;
    height: 1.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-top: 0.3rem;
}

#mainCardCentro h2 {
    padding-left: 1%;
    font-size: 1em;
    color: var(--color05);
    font-weight: 400;
}

#CardCentro{
    width: 100vw;
}

.CardCentroTexto {
    display: flex;
    width: 100%;
    border-bottom: 1.8px solid;
    border-color: var(--color06);
    padding-top: 10px;
}

.mainCardCentro {
    width: 15.5vw;
}

.mainCardCentroNome {
    width: 22vw;
}

.mainCardCentroStatus {
    width: 28vw;
}

/* Estilização do card de detalhes */
#mainCardCentroDetalhes {
    display: block;
    width: 100%;
    margin-top: 1vh;
    background-color: var(--color01);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 8px var(--color01);
}

#mainCardCentroDetalhes input {
    padding-left: 10%;
    font-size: 1em;
    color: var(--color05);
    font-weight: 400;
    padding-top: 3.5px;
    margin-bottom: 2vh;
}

#CardCentroDetalhes{
    display: flex;
    justify-content: column;
    width: 100%;
}

#CardCentroDetalhes ::placeholder {
    color: var(--color05);
}

.CardCentroDetalhes {
    margin-left: 2%;
    display: block;
    width: 30%;
    padding-top: 10px;
}

.mainCardCentroDetalhes {
    display: block;
    width: 100%;
    margin-bottom: 2vh;
    background-color: var(--color01);
    border-style: none;
    border-bottom: 1.8px solid;
    border-color: var(--color06);
}

.CardCentroDetalhesLabel {
    margin-left: 2%;
    display: block;
    width: 12%;
    padding-top: 10px;
}

.CardCentroDetalhesLabel h2 {
    padding-left: 1%;
    font-size: 1em;
    color: var(--color05);
    font-weight: 400;
    padding-left: 20%;
}

.buttonCardCentro {
    display: flex;
    justify-content: space-around;
    margin-left: 1.5vw;
    margin-top: 1.5vh;
    width: 90%;
    height: 6vh;
    margin-bottom: 1vh;
}

.buttonCardCentro button {
    border-radius: 5px;
    width: 10vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 1px 1px 8px var(--color01);
}

#actionView {
    display: flex;
    height: 4vh;
    font-size: 1.5rem;
}

#actionView button {
    width: 4vw;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 1px 1px 8px var(--color01);
}

.buttonOrangeActionAtualizar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    transition: 0.1s ease;
}

.buttonOrangeActionAtualizar:hover {
    transform: translate(1px, 1px);
    color: rgb(255, 156, 7);
    border-color: rgb(255, 156, 7);
}

.buttonBlueActionView {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    opacity: 0.8;
    transition: 0.1s ease;

}

.buttonBlueActionView:hover {
    transform: translate(1px, 1px);
    color: rgb(40, 137, 255);
    border-color: rgb(40, 137, 255);
}

.buttonRedActionDeletar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color02);
    border-color: var(--color08);
    background-color: var(--color08);
    box-shadow: 1px 1px 2px var(--color01);
    transition: 0.1s ease;
}

.buttonRedActionDeletar:hover {
    transform: translate(1px, 1px);
    color: red;
    border-color: red;
}


